body {
    background-color: black;
}

.finalScore {
    margin-left: 23px;
    color: navajowhite;
}

.centerList {
    margin-top: 25px;
    max-width: 310px;
}

.list-group-item {
    border-radius: .1rem !important;
    padding: 0.75rem 5.5rem;
}

/**
FlipCard Styles
 */
.flip-card {
    background-color: transparent;
    margin-left: 15px;
    width: 17rem;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card :checked + .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.score-bg {
    background: beige;
}

.bottom-buttons {
    margin-top: 25px;
    padding: 12px 0 0 0;
}

.correct-button {
    width: 120px;
    background: #ffffff;
    float: right;
}

.incorrect-button {
    background: #ffffff;
    float: left
}